.connectionPane {
}

.buttonPrimary {
    -fx-background-color: #7BBD26;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-border-radius: 0;
}

.buttonPrimary:hover {
    -fx-background-color: #F7AB13;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.buttonSecondary {
     -fx-background-color: #F7AB13;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 16px;
     -fx-border-radius: 0;
 }

.buttonSecondary:hover {
    -fx-background-color: #444444;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.buttonCancel {
    -fx-background-color: #888888;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-border-radius: 0;
}

.buttonCancel:hover {
    -fx-background-color: #F7AB13;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#btnCreate {
    -fx-min-width: 200px;
    -fx-alignment: center;
}

.invalidField {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

#lbSelected {
    -fx-color: #F7AB13;
}

#lbSelectAll {
    -fx-color: #7BBD26;
}

#lbDeselectAll {
    -fx-color: #7BBD26;
}

#btnSynchronize {
    -fx-pref-height: 60px;
    -fx-border-style: ridge;
}

#btnProceed {
    -fx-pref-height: 60px;
    -fx-border-style: ridge;
}

.clickableText:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}
